<section class="header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Welcome </h6>
        <h2>Path Supervisor</h2>
      </div>
    </div>
  </div>
</section>

<section class="" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="mt-20 p-4 rounded bg-white max-w-sm text-center border-t-4 border-red-600 mx-auto text-gray-700 pt-0">
            <h3>----------</h3>
            <h3 class="font-bold text-2xl text-black mb-2">Delete Account</h3>
            <p>Are you sure you want to delete your Account?</p>

            <div class="flex justify-center pt-8"> <!-- Add justify-center class here -->
              <button class="w-1/2 ml-1 bg-red-600 border border-red-600 text-white border-gray-500 hover:bg-red-700 hover:border-red-700 py-2 px-4 rounded font-medium"
                (click)="deleteUser()">Delete Account</button>
              <button class="w-1/2 mr-1 bg-white border text-gray-600 border-gray-400 hover:bg-gray-300 py-2 px-4 rounded font-medium"
                (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
  </div>
</section>
