<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            <form id="contact" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Send Message</h2>
                </div>

                <div class="col-lg-4">
                  <fieldset>
                    <label for="msgTitle">Subject:</label>
                    <input type="text" id="msgTitle" formControlName="msgTitle" required="" />
                    <div *ngIf="
                        messageForm.get('msgTitle')!.errors &&
                        messageForm.get('msgTitle')!.touched
                      " class="error">
                      Subject is required
                    </div>
                  </fieldset>
                </div>

                <div class="col-lg-4">
                  <fieldset>
                    <label for="messageType">Message Type:</label>
                    <input type="text" id="messageType" formControlName="msgType" required="" />
                    <div *ngIf="
                        messageForm.get('msgType')!.errors &&
                        messageForm.get('msgType')!.touched
                      " class="error">
                      Message Type is required
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label for="body">Body:</label>
                    <textarea id="body" formControlName="msgBody" required=""></textarea>
                    <div *ngIf="
                        messageForm.get('msgBody')!.errors &&
                        messageForm.get('msgBody')!.touched
                      " class="error">
                      Body is required
                    </div>
                  </fieldset>
                </div>

                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">
                      SEND MESSAGE NOW
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="right-info">
          <ul>
            <li>
              <h6>Phone Number</h6>
              <span>010-020-0340</span>
            </li>
            <li>
              <h6>Email Address</h6>
              <span>info@meeting.edu</span>
            </li>
            <li>
              <h6>Street Address</h6>
              <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
            </li>
            <li>
              <h6>Website URL</h6>
              <span>www.meeting.edu</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
      Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
      <br />
      Design:
      <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
      <br />
      Distibuted By:
      <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
    </p>
  </div>
</section>