body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #34495e;
  color: #333;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.field {
  display: none;
}

.field-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.rounded-dark-red {
  border-radius: 20px; /* Adjust the value to control the roundness */
  background-color: darkred; /* Change to any desired dark red color */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.rounded-dark-red:hover {
  background-color: #8B0000; /* Darker shade of red on hover */
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
}
