<header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              Career Mentorship
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="./messages">My Messages</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)"> made by me </a>
                <ul class="sub-menu">
                  <li class="scroll-to-section"><a href="./supervisorTracks"> Tracks </a> </li>
                  <li class="scroll-to-section"><a href="/course"> Courses</a></li>
                </ul>
              </li>
              <li class="has-sub">
                <a href="javascript:void(0)">My Account</a>
                <ul class="sub-menu">
                  <li class="scroll-to-section"><a href="/updateProfile"> Update Account </a> </li>
                  <li class="scroll-to-section"><a href="/delete-user"> Delete Account</a></li>
                  <li class="scroll-to-section"><a href="./forgot-password"> Reset Password</a></li>
                  <li class="scroll-to-section"><a href="./logout">Logout</a></li>
                  <li class="scroll-to-section"><a href="">Logout</a></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Welcome {{ user.fName }}</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- Dashboard Content -->
  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-4">
          <div class="categories">
            <h4>What Can I do</h4>
            <div class="main-button-red">
              <!-- Add Track Link (Opens Modal) -->
              <a  (click)="openBlockUserPopup()">Block User</a>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </section>
  <div class="footer">
    <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
  </div>


  <!-- Popup for Blocking Users -->
<div class="popup-container" *ngIf="isPopupVisible">
    <div class="popup-content">
      <h2>Block User</h2>
      <div class="user-list">
        <!-- Display list of users fetched from the server -->
        <div *ngFor="let username of usernames">
          <div class="user-card">
            <p>{{ username }}</p>
            <!-- Button to block the user -->
            <button (click)="blockUser(username)">Block</button>
          </div>
        </div>
      </div>
      <!-- Button to close the popup -->
      <button (click)="closePopup()">Close</button>
    </div>
  </div>