<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card text-center" style="width: 300px">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
      <p class="card-text py-2">
        Enter your email address and we'll send you an email with instructions
        to reset your password.
      </p>
      <div class="form-outline">
        <input
          type="email"
          id="typeEmail"
          class="form-control my-3"
          [(ngModel)]="email"
        />
        <label class="form-label" for="typeEmail">Email input</label>
      </div>
      <button class="btn btn-primary w-100" (click)="onSubmit()">
        Reset password
      </button>
      <div class="d-flex justify-content-between mt-4">
        <a routerLink="/login">Login</a>
        <a routerLink="/signup">Signup</a>
      </div>
    </div>
  </div>
</div>
