<body>
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              Career Mentorship
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a href='/student-dashboard' class="active">Home</a></li>
              <li class="scroll-to-section"><a href="./messages">My Messages</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)"> Enrolled In </a>
                <ul class="sub-menu">
                  <li class="scroll-to-section"><a href="./RegisteredTracks"> Tracks </a> </li>
                  <li class="scroll-to-section"><a href="./RegisteredCourses"> Courses</a></li>
                </ul>
              </li>
              <li class="has-sub">
                <a href="javascript:void(0)">My Account</a>
                <ul class="sub-menu">
                  <li class="scroll-to-section"><a href="/updateProfile"> Update Account </a> </li>
                  <li class="scroll-to-section"><a href="/delete-user"> Delete Account</a></li>
                  <li class="scroll-to-section"><a href="./forgot-password"> Reset Password</a></li>
                  <li class="scroll-to-section"><a href="./logout">Logout</a></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <nav class="sidenav">
    <br><br><br><br>
    <ul class="main-buttons">
      <li>
        <i class="fa fa-circle fa-2x"></i>
        What Can I do
        <ul class="hidden">
          <br><br><br><br>
          <li (click)="navigateToMyTracks()">Registered Tracks</li>
          <li (click)="navigateToMyCourses()">Registered Courses</li>
          <li (click)="navigateToAllTracks()">All available Tracks</li>
          <li (click)="navigateToAskExpert()">Ask an Expert</li>
          <li (click)="navigateToAskSupervisor()">Contact Supervisor</li>
          <li (click)="navigateToAddportfolio()">Add Portfolio</li>
          <li (click)="navigateToupdatePortfolio()">Update or Delete Portfolio</li>
        </ul>
      </li>
    </ul>
  </nav>
  <br><br><br><br><br><br><br>
  <div class='course-topics'>
    <div class="trackTitle">
      <h2>Welcome {{ user }}</h2>
    </div>
    <br>

    <div class="announcement">
      <h2>Announcements</h2>
      <p>Check out the latest topics below.</p>
    </div>

    <div class="popups">
    </div>
  </div>

</body>